body {
  font-size: 200%;
  text-align: center;
  background-image: url('../images/Sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: absolute;
  margin: 0;
  left: 0;
  bottom: 0px;
  padding: 80px 0 0 0;
}

#current-city {
  background-color: yellow;
  height: 100px;
  width: 500px;
  font-size: 25px;
}

#city {
  color: yellow;
}

#city-button {
  background-color: green;
  border-radius: 50%;
  height: 104px;
  width: 104px;
  font-size: 26px;
  color: yellow;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

#temperature-up {
  background-color: red;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 20px;
  color: white;
}

#temperature-reset {
  background-color: yellow;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 20px;
  color: black;
}

#temperature-down {
  background-color: green;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 20px;
  color: white;
}

#powersaving-on {
  background-color: green;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 20px;
  color: white;
}

#powersaving-off {
  background-color: red;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 20px;
  color: white;
}

button {border-radius: 50%;}

#power-saving-status {
  color: yellow;
}

#power-saving_status off {
  color: red;
}

power saving mode is {
  color: white;
}

